body {
    background-image: url('../images/cropimage.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Segoe UI', sans-serif;
}


.container {
    max-width: 600px;
    margin-top: 50px;
}

.form-box {
    background-color: rgba(255, 255, 255, 0.95); 
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

/* Smaller input boxes */
.form-control {
    height: 30px;
    font-size: 14px;
    padding: 5px 10px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary:hover {
    background-color: #0056b3;
}


.page-title {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: #2c3e50;
    margin-bottom: 30px;
    padding-top: 20px;
}

